*{
    margin: 0px;
    padding: 0px;
}
:root{

}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.3;
}
#navbar{
    /* border: 2px solid red; */
    display: flex;
    position: relative;
    align-items: center;
}
#logo img{
    height: 57px;
    margin: 15px 33px;
    border-radius: 100px;
}
#navbar ul{
    display: flex;
    align-items: center;
}
#navbar ul li{
    font-size: 1.3rem;
    list-style: none;
}
#navbar ul li a{
    display: block;
    text-decoration: none;
    padding: 0px 20px;
    color: white;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}
#navbar ul li a:hover{
    color: black;
    font-size: 25px;
    font-weight: bold;
    background-color: white;
    border-radius: 100px;
}
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding : 50px 531px;
}
#home::before{
    content: "";
    background: url('../img/BG_3.jpg') no-repeat center center/cover; 
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: 0.8;
}