*{
    margin: 0px;
    padding: 0px;
}
:root{

}
body::before{
    content: "";
    background-color: #b69965;
    position: absolute;
    height: 140%;
    width: 100%;
    z-index: -3;
    opacity: 1;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.3;
}
#navbar{
    /* border: 2px solid red; */
    display: flex;
    position: relative;
    align-items: center;
    font-family: 'Baloo Bhai 2', cursive;
    position: fixed;
    width: 100%;
}
#logo img{
    height: 57px;
    margin: 15px 33px;
    border-radius: 100px;
}
#navbar ul{
    display: flex;
    align-items: center;
}
#navbar ul li{
    font-size: 1.5rem;
    list-style: none;
}
#navbar ul li a{
    display: block;
    text-decoration: none;
    padding: 0px 20px;
    color: white;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}
#navbar ul li a:hover{
    color: black;
    font-size: 25px;
    font-weight: bold;
    background-color: #ffeed3;
    border-radius: 100px;
}
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding : 50px 480px;
    height: 530px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#home::before{
    content: "";
    background: url('../img/BG_3.jpg') no-repeat center center/cover; 
    position: absolute;
    height: 64%;
    width: 100%;
    z-index: -2;
    opacity: 0.8;
    top: 0px;
}
.h-primary{
    font-size: 3.5rem;
    color: white;
    text-align: center;
    padding: 35px 0px;
    font-weight: 700;
    position: relative;
    top: 15px;
}
#home p{
    color: #fefefe;
    text-align: center;
    font-size: 1.2rem;
}
.btn{
    padding: 7px 30px; 
    position: relative;
    top: 35px;
    border-radius: 25px;
    border: 2px solid #d0cbce;
    background-color: #b97472;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}
.center{
    text-align: center;
}
.h-secondary{
    font-size: 2rem;
    padding: 12px 0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    bottom: 20px;
}
#services p{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    bottom: 15px;
}
#services .box{
    border: 2px solid rebeccapurple;
    padding: 10px 44px;
    margin: 0px 10px;
    width: 10000px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #d0d1d3;
}
.services-container .header{
    font-size: 2.7rem;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 25px 0px;
    color : #533433;
}
#services{
    display: flex;
    padding: 14px 0px;
}
.box img{
    height: 350px;
}
/* #client-section .client-header{
    font-size: 2.7rem;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 40px 0px;
    color: #533433;
    position: relative;
    bottom: 50px;
} */
.client{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.client-item img{
    height: 115px;
}
.client-item{
    padding : 25px 34px;
}
.client::before{
    content: "";
    background: url(/img/Back_1.jpg) no-repeat center center/cover;
    position: absolute;
    height: 30%;
    width: 100%;
    z-index: -3;
    opacity: 0.8;
}
#client-section{
    margin-top: 100px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}